In [341]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import numpy as np
from time import sleep

In [342]:
# Observe the network section on web browsers' developer option
def get_map_data():
    headers = {
            'authority': 'ovfietsbeschikbaar.nl',
            'accept': 'application/json, text/javascript, */*; q=0.01',
            'accept-language': 'fr-FR,fr;q=0.9,en-US;q=0.8,en;q=0.7',
            'referer': 'https://ovfietsbeschikbaar.nl/locaties',
            'sec-ch-ua': '" Not A;Brand";v="99", "Chromium";v="101", "Google Chrome";v="101"',
            'sec-ch-ua-mobile': '?0',
            'sec-ch-ua-platform': '"Windows"',
            'sec-fetch-dest': 'empty',
            'sec-fetch-mode': 'cors',
            'sec-fetch-site': 'same-origin',
            'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/101.0.4951.54 Safari/537.36',
            'x-requested-with': 'XMLHttpRequest',
              }
    response = requests.get('https://ovfietsbeschikbaar.nl/data/map-locations', headers=headers)
    return response.json()

In [343]:
map_data= get_map_data()
#print('len map_data = ', len(map_data))
#print(map_data)
# Load map_data
df = pd.DataFrame(map_data)

In [344]:
# Save the data in .csv file with utf-8 encoding
df.to_csv('ovfiets.csv', encoding='utf-8')
df.url = ("https://ovfietsbeschikbaar.nl") + df["url"]
df.head()

,location,url,lat,lng,text
0,'s-Hertogenbosch Oost,https://ovfietsbeschikbaar.nl/locatie/Hto001,51.700878,5.319214,3 fietsen beschikbaar
1,'t Harde,https://ovfietsbeschikbaar.nl/locatie/Hde001,52.408791,5.89185,1 fietsen beschikbaar
2,Aalten,https://ovfietsbeschikbaar.nl/locatie/atn001,51.92161,6.57929,4 fietsen beschikbaar
3,Alkmaar,https://ovfietsbeschikbaar.nl/locatie/amr001,52.63753,4.73985,75 fietsen beschikbaar
4,Alkmaar Noord,https://ovfietsbeschikbaar.nl/locatie/amrn003,52.64396,4.76371,22 fietsen beschikbaar

In [345]:
store_urls = np.array([])
ff = np.append(store_urls, df['url'])
#for x in ff:
    #print(x)

In [346]:
driver = webdriver.Chrome(ChromeDriverManager().install())
total_bike = []
def get_total_bike(url):
    driver.get(url)
    driver.maximize_window()
    soup = BeautifulSoup(driver.page_source, 'html.parser')
    sleep(2)
    for tbody in soup.find_all('tbody', {'class': 'left-column-no-break'}):
        tr = tbody.find_all('td')[3].text.strip()
        total_bike.append(tr)
        print("Total bike available = ", tr)
    return total_bike

====== WebDriver manager ======
Current google-chrome version is 101.0.4951
Get LATEST chromedriver version for 101.0.4951 google-chrome
Driver [C:\Users\adema\.wdm\drivers\chromedriver\win32\101.0.4951.41\chromedriver.exe] found in cache
C:\Users\adema\AppData\Local\Temp\ipykernel_21548\3342886935.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install())

In [347]:
# Modify the end = len(ff) to get them all
for x in range(0, 5):
    url = ff[x]
    print(x+1,".", url)
    get_total_bike(url)
    sleep(1)

1 . https://ovfietsbeschikbaar.nl/locatie/Hto001
Total bike available =  8 fietsen
2 . https://ovfietsbeschikbaar.nl/locatie/Hde001
Total bike available =  8 fietsen
3 . https://ovfietsbeschikbaar.nl/locatie/atn001
Total bike available =  6 fietsen
4 . https://ovfietsbeschikbaar.nl/locatie/amr001
Total bike available =  162 fietsen
5 . https://ovfietsbeschikbaar.nl/locatie/amrn003
Total bike available =  32 fietsen

In [348]:
df_total = pd.DataFrame(total_bike, columns={'nbikes'})
df_total.reset_index(drop = True, inplace=True)
all_together = [df, df_total]
df = pd.concat(all_together, axis=1)
df.head()

,location,url,lat,lng,text,nbikes
0,'s-Hertogenbosch Oost,https://ovfietsbeschikbaar.nl/locatie/Hto001,51.700878,5.319214,3 fietsen beschikbaar,8 fietsen
1,'t Harde,https://ovfietsbeschikbaar.nl/locatie/Hde001,52.408791,5.89185,1 fietsen beschikbaar,8 fietsen
2,Aalten,https://ovfietsbeschikbaar.nl/locatie/atn001,51.92161,6.57929,4 fietsen beschikbaar,6 fietsen
3,Alkmaar,https://ovfietsbeschikbaar.nl/locatie/amr001,52.63753,4.73985,75 fietsen beschikbaar,162 fietsen
4,Alkmaar Noord,https://ovfietsbeschikbaar.nl/locatie/amrn003,52.64396,4.76371,22 fietsen beschikbaar,32 fietsen

In [286]:
df_total.to_csv('Total_Bikes.csv')